.container
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column

.timer
    color: white
    font-size: 24px

.button
    border-radius: 72px
    margin: 16px 16px 0 16px
    font-size: 16px
    height: 72px
    width: 72px